:root {
    --bg: #394B5D!important;
    --bg-dark: #132537;
    --bg-darker: #06182A!important;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    background-color: #2c3e50;
    margin-bottom: 60px;
}

.form-control {
    border-color: var(--bg);
}

.card-row {
    padding: 10px 0;
}


.laptop-card {
    margin-top: 30px;
    margin-bottom: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}


.header-text {
    margin: 0;
}






.laptop-card img {
    width: 100%;
    height: 100%;
}

.text-loan {
    margin-top: 10px;
}



.btn {
    width: 100%;
    background-color: var(--bg);
    border-color: var(--bg);
    
}

.btn:active {
    background-color: var(--bg-darker)!important;
}

.btn:focus {
    background-color: var(--bg);
    border-color: var(--bg);
    outline: none;
}

.btn-primary:hover {
    border-color: var(--bg-dark)!important;
    background-color: var(--bg-dark)!important;
    color: #ffffff!important;
}

.btn-outline-primary {
    color: #5F7183;
    background-color: transparent;
}

.btn-outline-primary:hover {
    border-color: #697B8D!important;
    background-color: transparent!important;
}

.btn-outline-primary:active {
    color: white!important;
    background-color: green!important;
    border-color: green!important;

}

.btn-outline-primary:focus {
    background-color: transparent;
    border-color: #697B8D!important;

}

#system-msg {
    text-align: center;
    margin-bottom: 30px;
}